<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}#HACKATHONS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body data-role="{{ current_user.role if current_user.is_authenticated else 'guest' }}">
    

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/themeToggle.js') }}"></script>
</body>
</html>
